footer {
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-s);
  color: var(--footer-text-color);
}

/* footer .footer {
  max-width: 1200px;
  margin: auto;
} */

footer .footer p {
  margin: 0;
}

footer .footer a {
  color: var(--footer-text-color);
  padding: 0 15px;
}

footer .footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer ul {
  display: flex;
  gap: 2em;
}

footer .footer .section {
  display: flex;
  padding: 50px 150px;

}

footer .footer .section > .default-content-wrapper{
  display: flex;
}


footer .footer .section img {
    width: 200px;
    height: auto;
    padding-top: 10px;
}

footer .footer .section .social span.icon {
  padding: 0 10px;
}

footer .footer .section .icon > img {
  height: 24px;
  width: 24px;
}

.icon-facebook > img {
  color: white;
}

footer .footer .section.darker {
  border-top: 1px solid hsla(0, 0%, 40%, .3);
  background-color: var(--footer-darker-background-color);
}

footer .footer .section.darker > .default-content-wrapper{
  display: block;
  width: 40%;
  text-align: center;
}
